*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#f5f7fb;
    color:#1f2937;
}

.intro{
    text-align:center;
    margin-top:70px;
}

.intro h1{
    font-size:42px;
    margin-bottom:15px;
}

.intro p{
    color:#6b7280;
}

.perfil-card{
    max-width:900px;
    margin:50px auto;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.card-header{
    background:#1677ff;
    color:white;
    padding:15px 25px;

    display:flex;
    justify-content:space-between;
}

.card-body{
    padding:35px;

    display:flex;
    gap:30px;
}

.left{
    flex:1;
}

.left ul{
    margin-top:20px;
}

.left li{
    margin-bottom:12px;
}

.right{
    flex:1;
    background:#f3f7ff;
    padding:25px;
    border-radius:12px;
}

.quiz-area{
    text-align:center;
    margin:60px 0;
}

#btnQuiz{
    background:#1677ff;
    color:white;

    border:none;
    padding:18px 40px;

    border-radius:50px;
    font-size:18px;
    cursor:pointer;

    transition:.3s;
}

#btnQuiz:hover{
    transform:translateY(-4px);
}

.info{
    margin-top:15px;
    color:#6b7280;
}

.beneficios{
    border-top:1px solid #e5e7eb;
    border-bottom:1px solid #e5e7eb;

    padding:40px;

    display:flex;
    justify-content:center;
    gap:60px;
}

.beneficios div{
    display:flex;
    gap:10px;
    align-items:center;
}

.beneficios i{
    color:#1677ff;
}

footer{
    padding:60px 10%;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    gap:30px;
}

.footer-grid a{
    display:block;
    text-decoration:none;
    color:#6b7280;
    margin-bottom:10px;
}

.footer-grid h4{
    margin-bottom:15px;
}